@charset "UTF-8";

body {
  font-family: sans-serif;
  font-size: 18px;
}

div#header {
  position: fixed;
  padding: 3px;
  border-bottom: 5px solid #000000;
  margin-bottom: 19px;
  text-align: left;
  height: 34px;
  width: 100%;
}

div#footer {
  position: fixed;
  border-top: 3px solid #000000;
  text-align: center;
  margin-top: 19px;
  bottom: 0;
  width: 100%;
  font-size: 12px;
}

div#appTitle {
  position: fixed;
  left: 10px;
  top: 11px;
}

div#controlPanel {
  position: fixed;
  top: 60px;
  bottom: 50px;
  left: 0;
  width: 300px;
}

div#chartsPanel,
div#mainPanel {
  position: fixed;
  bottom: 50px;
  top: 60px;
  left: 300px;
  right: 200px;
}

div.chartPanel.fullheight {
  height: 100%;
}
div.chartPanel.halfheight {
  height: 50%;
}

div#mainPanel {
  display: flex;
  align-items: center;
  justify-content: center;
}

button#remainingCount {
  position: fixed;
  top: 3px;
  right: 210px;
  display: block;
}

div#selectionIconPanel {
  position: fixed;
  top: 3px;
  right: 60px;
  display: block;
}

div#selectionIconPanel #selectButton,
div#selectionIconPanel #unselectButton,
div#selectionIconPanel #clearButton {
  color: gray;
  margin-left: 10px;
  cursor: pointer;
}

div#selectionIconPanel.disabled #selectButton,
div#selectionIconPanel.disabled #unselectButton,
div#selectionIconPanel.disabled #clearButton {
  color: lightgray;
  cursor: default;
}

div#selectionIconPanel #unselectButton.selected {
  color: #a40000;
}

div#selectionIconPanel #clearButton.selected {
  color: black;
}

div#selectionIconPanel #selectButton.selected {
  color: navy;
}

div#roiChoicePanel {
  position: fixed;
  bottom: 50px;
  right: 0;
  width: 200px;
  top: 60px;
  text-align: center;
}

.scan div#controlPanel,
.scan div#roiChoicePanel {
  display: none;
}

.scan div#chartsPanel {
  left: 0px;
  right: 0px;
}

label.fileInput,
button.fileInput,
button.exampleFileInput,
button#remainingCount,
.channelSelectionPanel button {
  overflow: hidden;
  cursor: pointer;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0 5px;
  font-size: 18px;
  white-space: nowrap;
  box-sizing: content-box;
  border-radius: 10px;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.4);
}

label.fileInput,
button.fileInput,
.channelSelectionPanel button {
  width: 90px;
  height: 22px;
}

button.exampleFileInput {
  width: 200px;
  height: 22px;
}

label.fileInput:active,
button.fileInput:active,
button.exampleFileInput:active,
label.fileInput.disabled,
button.fileInput:disabled,
button.exampleFileInput:disabled,
button#remainingCount:active,
button#remainingCount:disabled,
.channelSelectionPanel button:active,
.channelSelectionPanel button:disabled,
.channelSelectionPanel button.selected {
  box-shadow: none;
}

#traceAlignmentPanel,
#percentChangePanel {
  display: grid;
  grid-template-columns: 1fr 0fr;
  grid-gap: 10px;
}

#traceAlignmentPanel input,
#percentChangePanel input {
  margin-right: auto;
}

#traceAlignmentPanel label,
#percentChangePanel label {
  text-align: left;
}

#fullscreenButton {
  position: fixed;
  top: 3px;
  right: 5px;
  color: gray;
  background-color: white;
  cursor: pointer;
}

#helpButton {
  position: fixed;
  top: 3px;
  right: 350px;
  color: gray;
  background-color: white;
  cursor: pointer;
}

#fullscreenButton.disabled {
  color: lightgray;
  cursor: default;
}

div.optionsPanel {
  padding: 10px 18px;
  background-color: white;
}

div.inputPanel {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
}

div.channelActions {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

div#annotationsList {
  display: grid;
  overflow-y: auto;
  /* top: 136px; */
  /* bottom: 50px; */
  /* width: 200px; */
  /* right: 0; */
  border: thin solid gray;
}

button#addAnnotationButton,
button#editAnnotationSaveButton,
button#editAnnotationDeleteButton,
button#editAnnotationCancelButton {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: 18px;
  overflow: hidden;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  white-space: nowrap;
  box-sizing: content-box;
  border-radius: 10px;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.4);
}

button#addAnnotationButton:active,
button#addAnnotationButton:disabled,
button#editAnnotationSaveButton:active,
button#editAnnotationSaveButton:disabled,
button#editAnnotationDeleteButton:active,
button#editAnnotationDeleteButton:disabled,
button#editAnnotationCancelButton:active,
button#editAnnotationCancelButton:disabled {
  box-shadow: none;
}

button#addAnnotationButton:disabled,
button#editAnnotationSaveButton:disabled,
button#editAnnotationDeleteButton:disabled,
button#editAnnotationCancelButton:disabled {
  cursor: default;
  background-color: #babdb6;
  color: black;
}

#annotationsHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

#editAnnotationActions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}

div#annotationsList label {
  background-color: white;
  border: none;
  color: black;
  text-align: start;
  text-decoration: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
}

#editAnnotationInputs {
  display: grid;
  grid-template-columns: 0fr 1fr;
  grid-gap: 10px;
  padding: 10px 18px;
}

#editAnnotationName,
#editAnnotationValue {
  width: 100%;
  box-sizing: border-box;
}

label#fullscreenButton.disabled,
label.fileInput.disabled,
button.fileInput:disabled,
button#remainingCount:disabled,
.channelSelectionPanel button:disabled {
  cursor: default;
  background-color: #babdb6;
  color: black;
}

label.fileInput input[type="file"] {
  position: relative;
  height: 100%;
  width: auto;
  opacity: 0;
  display: none;
}

div.panelTitle {
  background-color: #eee;
  color: #444;
  padding: 5px 18px;
  text-align: left;
  outline: none;
  border-bottom: thin solid black;
}

div#roiChoiceList {
  position: fixed;
  overflow-y: auto;
  top: 136px;
  bottom: 50px;
  width: 200px;
  right: 0;
  border: thin solid black;
}

div#roiChoiceList label {
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

div#roiChoiceList .current {
  border-style: solid;
  border-width: thin 8px;
  border-color: gray;
}

div#roiChoiceList .selectedRoi {
  background-color: navy;
  color: white;
}

div#roiChoiceList .unselectedRoi {
  background-color: #a40000;
  color: white;
}

button#roiSelectAllButton {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: 18px;
  overflow: hidden;
  cursor: pointer;
  background-color: #4caf50; /* Green */
  color: white;
  white-space: nowrap;
  box-sizing: content-box;
  border-radius: 10px;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.4);
}

button#roiSelectAllButton:active,
button#roiSelectAllButton:disabled {
  box-shadow: none;
}

button#roiSelectAllButton:disabled {
  cursor: default;
  background-color: #babdb6;
  color: black;
}

span#unselectedRoiCount,
span#unscannedRoiCount,
span#selectedRoiCount {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 33%;
}

span#unselectedRoiCount {
  background-color: #a40000;
  color: white;
}

span#unscannedRoiCount {
  background-color: white;
  color: black;
}

span#selectedRoiCount {
  background-color: navy;
  color: white;
}

label.disabled {
  color: gray;
}

.optionsPanel input[type="number"] {
  width: 50px;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
