@charset "UTF-8";

body {
  font-family: sans-serif;
  font-size: 18px;
}

svg {
  fill: currentColor;
}

div#header {
  position: fixed;
  padding: 3px;
  border-bottom: 5px solid #000000;
  margin-bottom: 19px;
  text-align: left;
  height: 34px;
  width: 100%;
}

div#footer {
  position: fixed;
  border-top: 3px solid #000000;
  text-align: center;
  margin-top: 10px;
  bottom: 0;
  width: 100%;
  font-size: 12px;
}

div#appTitle {
  position: fixed;
  left: 10px;
  top: 11px;
}

div#controlPanel {
  position: fixed;
  top: 60px;
  bottom: 28px;
  left: 8px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div#channelControlPanel {
  border: lightgray 2px solid;
}

div#chartsPanel,
div#mainPanel {
  position: fixed;
  bottom: 28px;
  top: 60px;
  left: 313px;
  right: 210px;
}

div.chartPanel.fullheight {
  height: 100%;
}
div.chartPanel.halfheight {
  height: 50%;
}

div.chartPanel {
  border: white 2px solid;
  box-sizing: border-box;
}

div.chartPanel.outline {
  border-color: #4caf50; /* Green */
}

div#mainPanel {
  display: flex;
  align-items: center;
  justify-content: center;
}

button#remainingCount {
  position: fixed;
  top: 3px;
  right: 210px;
  display: block;
}

div#selectionIconPanel {
  position: fixed;
  top: 3px;
  right: 60px;
  display: block;
}

div#selectionIconPanel #selectButton,
div#selectionIconPanel #unselectButton,
div#selectionIconPanel #clearButton {
  color: gray;
  margin-left: 10px;
  cursor: pointer;
}

div#selectionIconPanel.disabled #selectButton,
div#selectionIconPanel.disabled #unselectButton,
div#selectionIconPanel.disabled #clearButton {
  color: lightgray;
  cursor: default;
}

div#selectionIconPanel #unselectButton.selected {
  color: #a40000;
}

div#selectionIconPanel #clearButton.selected {
  color: black;
}

div#selectionIconPanel #selectButton.selected {
  color: navy;
}

div#markersPanel #addMarkerButton {
  color: #4caf50; /* Green */
  cursor: pointer;
}

div#roiChoicePanel {
  position: fixed;
  bottom: 28px;
  right: 5px;
  width: 200px;
  top: 60px;
  text-align: center;
}

.scan div#controlPanel,
.scan div#roiChoicePanel {
  display: none;
}

.scan div#chartsPanel {
  left: 0px;
  right: 0px;
}

button.exampleFileInput,
button#remainingCount {
  overflow: hidden;
  cursor: pointer;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0 5px;
  font-size: 18px;
  white-space: nowrap;
  box-sizing: content-box;
  border-radius: 10px;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.4);
}

button.exampleFileInput {
  width: 200px;
  height: 22px;
}

button.exampleFileInput:active,
button.exampleFileInput:disabled,
button#remainingCount:active,
button#remainingCount:disabled {
  box-shadow: none;
}

#traceAlignmentPanel,
#percentChangePanel {
  display: grid;
  grid-template-columns: 1fr 0fr;
  grid-gap: 10px;
}

#traceAlignmentPanel input,
#percentChangePanel input {
  margin-right: auto;
}

#traceAlignmentPanel label,
#percentChangePanel label {
  text-align: left;
}

#fullscreenButton {
  position: fixed;
  top: 3px;
  right: 5px;
  color: gray;
  background-color: white;
  cursor: pointer;
}

#helpButton {
  position: fixed;
  top: 3px;
  right: 350px;
  color: gray;
  background-color: white;
  cursor: pointer;
}

#fullscreenButton.disabled {
  color: lightgray;
  cursor: default;
}

div.optionsPanel {
  padding: 10px 18px;
  background-color: white;
}

div.inputPanel {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
}

div.channelActions {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

div.inputPanel div.fileNameMessage {
  text-align: center;
  font-size: 14px;
}


button#addMarkerButton {
  margin-right: 10px;
}

button#addMarkerButton,
button#editMarkerSaveButton,
button#editMarkerDeleteButton,
button#editMarkerCancelButton {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: 18px;
  overflow: hidden;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  white-space: nowrap;
  box-sizing: content-box;
  border-radius: 10px;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.4);
}

button#addMarkerButton:active,
button#addMarkerButton:disabled,
button#editMarkerSaveButton:active,
button#editMarkerSaveButton:disabled,
button#editMarkerDeleteButton:active,
button#editMarkerDeleteButton:disabled,
button#editMarkerCancelButton:active,
button#editMarkerCancelButton:disabled {
  box-shadow: none;
}

button#addMarkerButton:disabled,
button#editMarkerSaveButton:disabled,
button#editMarkerDeleteButton:disabled,
button#editMarkerCancelButton:disabled {
  cursor: default;
  background-color: #babdb6;
  color: black;
}

#markersPanel {
  border: lightgray 2px solid;
  min-height: 150px;
  margin-top: 10px;
}

#markersHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

div#markersList {
  display: flex;
  flex-direction: column;
  /* overflow-y: auto; TODO make scrollable */
  margin: 5px;
}

div#markersList .marker {
  display: flex;
  align-content: space-between;
}

div#markersList .marker:hover {
  background-color: lightgray;
}

div#markersList .marker span {
  padding: 5px;
  flex-grow: 1;
}

div#markersList .marker .edit-marker {
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 4px;
}

#editMarkerActions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}

#editMarkerInputs {
  display: grid;
  grid-template-columns: 0fr 1fr;
  grid-gap: 10px;
  padding: 10px 18px;
}

#editMarkerName,
#editMarkerValue {
  width: 100%;
  box-sizing: border-box;
}

label#fullscreenButton.disabled,
button#remainingCount:disabled {
  cursor: default;
  background-color: #babdb6;
  color: black;
}

.fileInput {
  cursor: pointer;
}

.fileInput#closeChannel {
  cursor: pointer;
  color: #a40000;
}

.fileInput.disabled,
.fileInput.disabled#closeChannel {
  cursor: default;
  color: #babdb6;
}

input[type="file"]#csvFileInput {
  opacity: 0;
  display: none;
}

div.panelTitle {
  background-color: #eee;
  color: #444;
  padding: 5px 18px;
  text-align: left;
  outline: none;
  border-bottom: thin solid black;
}

div#roiChoiceList {
  position: fixed;
  overflow-y: auto;
  top: 136px;
  bottom: 28px;
  width: 200px;
  right: 5px;
  border: thin solid black;
  box-sizing: border-box;
}

div#roiChoiceList label {
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

div#roiChoiceList .current {
  border-style: solid;
  border-width: thin 8px;
  border-color: gray;
}

div#roiChoiceList .selectedRoi {
  background-color: navy;
  color: white;
}

div#roiChoiceList .unselectedRoi {
  background-color: #a40000;
  color: white;
}

button#roiSelectAllButton {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: 18px;
  overflow: hidden;
  cursor: pointer;
  background-color: #4caf50; /* Green */
  color: white;
  white-space: nowrap;
  box-sizing: content-box;
  border-radius: 10px;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.4);
}

button#roiSelectAllButton:active,
button#roiSelectAllButton:disabled {
  box-shadow: none;
}

button#roiSelectAllButton:disabled {
  cursor: default;
  background-color: #babdb6;
  color: black;
}

span#unselectedRoiCount,
span#unscannedRoiCount,
span#selectedRoiCount {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 33%;
}

span#unselectedRoiCount {
  background-color: #a40000;
  color: white;
}

span#unscannedRoiCount {
  background-color: white;
  color: black;
}

span#selectedRoiCount {
  background-color: navy;
  color: white;
}

label.disabled {
  color: gray;
}

.optionsPanel input[type="number"] {
  width: 50px;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.channelSelectionPanel {
  width: 100%;
  overflow: hidden;
  background-color: black;
}

.channelSelectionPanel button {
  cursor: pointer;
  border: none;
  color: white;
  background-color: rgba(76, 175, 80, 0.8); /* Green 80% */
  text-align: center;
  font-size: 18px;
  white-space: nowrap;
  padding: 8px 16px;
  width: 50%;
}

.channelSelectionPanel button.selected {
  background-color: #4caf50; /* Green */
}

.channelSelectionPanel button:hover {
  background-color: #babdb6;
  color: black;
}

.channelSelectionPanel button:disabled {
  cursor: default;
  background-color: #babdb6;
  color: black;
}
